img{max-width:100%;}
#qr{display:inline-block;position:relative;vertical-align:bottom;height:1em;width:1em;border:1px solid;}
.qrcode{position:absolute;display:inline-block;top:-1px;left:-1px;height:320px;width:320px;z-index:10;color:#000 !important;background-color:#fff;border:1px solid;}
